<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <MapSize>300</MapSize>
  <CellMapSize>10</CellMapSize>
  <NumAliensPerSecond>3</NumAliensPerSecond>
  <MaxDurationBattleInSeconds>300</MaxDurationBattleInSeconds>
  <Velocity>Normal</Velocity>
  <DensityObstacles>0.3</DensityObstacles>
  <DensityDefenses>0.28</DensityDefenses>
</Configuration>