<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <MapSize>300</MapSize>
  <CellMapSize>10</CellMapSize>
  <NumAliensPerSecond>2</NumAliensPerSecond>
  <MaxDurationBattleInSeconds>300</MaxDurationBattleInSeconds>
  <Velocity>Normal</Velocity>
  <DensityObstacles>0.2</DensityObstacles>
  <DensityDefenses>0.2</DensityDefenses>
</Configuration>